# Build artifacts
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
Testing/
frequent-cron

# Subdirectory build artifacts
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/libfrequent-cron.a
src/frequent-cron.dir/
tests/CMakeFiles/
tests/Makefile
tests/cmake_install.cmake
CTestTestfile.cmake
